// Document titles
.component {
    &--xl-title {
        font-size: 65px;
        font-weight: $regular;
        color: $linksColor;
        margin-top: 20px;
        line-height: 65px;
        @include md-computer-scr {
            font-size: 60px;
            line-height: 60px;
        }
        @include tablet-scr {
            font-size: 52px;
            line-height: 56px;
        }
        @include mini-tablet-scr {
            font-size: 46px;
            line-height: 46px;
        }
    }

    &--lg-title {
        font-size: 60px;
        font-weight: $regular;
        color: $linksColor;
        margin-top: 20px;
        line-height: 65px;
        @include tablet-scr {
            font-size: 50px;
            line-height: 56px;
        }
        @include mini-tablet-scr {
            font-size: 38px;
            line-height: 46px;
        }
    }

    &--md-title {
        font-size: 45px;
        font-weight: $regular;
        color: $linksColor;
        margin-top: 25px;
        line-height: 48px;
        @include tablet-scr {
            font-size: 36px;
            line-height: 43px;
        }
        @include mini-tablet-scr {
            font-size: 33px;
            line-height: 35px;
        }
    }

    &--braces-title {
        font-size: 16px;
        font-weight: $medium;
        color: $grayTitle;
        text-transform: uppercase;
        letter-spacing: 3px;
        @include mini-tablet-scr {
            font-size: 13px;
        }
    }

    &--uppercase-title {
        font-size: 25px;
        font-weight: $medium;
        letter-spacing: 2px;
    }
}

.card--uppercase-title {
    font-size: 20px;
    font-weight: $medium;
    text-transform: uppercase;
}

.sudo-icon {
    font-family: 'fontello';
    position: absolute;
    left: 0;
    @extend %v--align-center;
    color: inherit;
    font-size: inherit;
    height: fit-content;
    transition: $quickTransition;
}


// Document body text
.body--text {
    &--lg {
        font-size: 16px;
        font-weight: $regular;
        margin-bottom: 20px;
        line-height: 19px;
        color: $linksColor;
    }

    &--md {
        font-size: 14px;
        font-weight: $regular;
        line-height: 16px;
        color: $grayText;
    }

    &--sm {
        font-size: 13px;
        font-weight: $regular;
        color: $linksColor;
    }
}

// Lists
.list-item {
    position: relative;
    @extend .body--text--sm;
    
    &::before {
        content: '>';
        position: absolute;
        @extend %v--align-center;
        left: 0;
        color: $brandColor;
        font-size: inherit;
    }
}