@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Light.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Light.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Light.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Light.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Light.svg#AkzidenzGroteskBQ-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-BoldItalic.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-BoldItalic.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-BoldItalic.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-BoldItalic.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-BoldItalic.svg#AkzidenzGroteskBQ-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Bold.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Bold.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Bold.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Bold.svg#AkzidenzGroteskBQ-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-LightIt.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-LightIt.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-LightIt.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-LightIt.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-LightIt.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-LightIt.svg#AkzidenzGroteskBQ-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Reg.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Reg.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Reg.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Reg.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Reg.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Reg.svg#AkzidenzGroteskBQ-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Medium.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Medium.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Medium.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Medium.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-Medium.svg#AkzidenzGroteskBQ-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-MedItalic.eot');
    src: url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-MedItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-MedItalic.woff2') format('woff2'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-MedItalic.woff') format('woff'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-MedItalic.ttf') format('truetype'),
        url('../../../fonts/akzidenzGrotesk/AkzidenzGroteskBQ-MedItalic.svg#AkzidenzGroteskBQ-MedItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}